<%- include('modules/head'); %><%- include('modules/header'); %>
<html>
  <!-- <body> -->
    <div class="container">
      <div class="product">
        <h3 class="product-title"><%= item.title %></h3>
        <img class="product-image" src="<%= item.imageUrl %>" alt="<%= item.title %> front image">
        <p class="product-author"><%= item.author %></p>
        <p class="product-price">$<%= item.price %></p>
        <p class="product-description"><%= item?.description %></p>
        <div class="product-buttons-wrapper">
            <a href="/" class="btn">Home</a>
        </div>
      </div>
    </div>
  </body>
</html>
